/* Navbar.css */
.navbar {
    background-color:#4caf50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link-a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
  }
  
  /* Add additional styling as needed */
  